@font-face {
	font-family: 'Arimo';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: local('Arimo Italic'), local('Arimo-Italic'), url(fonts/Arimo-italic-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Arimo';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: local('Arimo Regular'), local('Arimo-Regular'), url(fonts/Arimo-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Arimo';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: local('Arimo Bold'), local('Arimo-Bold'), url(fonts/Arimo-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Lora';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: local('Lora Italic'), local('Lora-Italic'), url(fonts/Lora-italic-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: local('Lora Regular'), local('Lora-Regular'), url(fonts/Lora-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: local('Lora Bold'), local('Lora-Bold'), url(fonts/Lora-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

