@import "variable";

*::-webkit-input-placeholder {
  color: $divider-color;
  opacity: 1;
}

*:-moz-placeholder {
  color: $divider-color;
  opacity: 1;
}

*::-moz-placeholder {
  color: $divider-color;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: $divider-color;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: $divider-color;
}

body input:required:valid,
body textarea:required:valid {
  color: $divider-color;
}

body {
  background-color: $main-bg;
  color: $main-text-color;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  font-family: $default-font;
}

#toTop {
  display: none;
  background-color: transparent;
  position: fixed;
  font-size: 2rem;
  z-index: 99;
  border: none;
  outline: 0;
  color: $divider-color;
  cursor: pointer;
  padding: 5px;
  text-align: center;
}