// Main Variables
// Color
$main-bg: #f3f3f3;
$content-bg: #fff;
$main-text-color: #212121;
$invert-text-color: #fff;
$accent-text-color: #858585;

$dark-primary-color: #4b9246;
$light-primary-color: #67c058;
$primary-color: #166e3f;
$accent-color: #9DA8B0;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

$main-link: #178cbd;
$important: #c00;
// Margins
$baseMargin: calculateRem(30px);
$blockMargin: calculateRem(20px);
$slimMargin: 10px;
// Typography
$default-font: "Rubik", sans-serif;
$serif-font: "Noto Serif", serif;
$headers-font: $serif-font

